In [2]:
# import depend
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import csv
from scipy import stats
from scipy.stats import linregress
from datetime import date
import scipy.stats as st
# output_data = ""
# import 
arrest_by_state = "Resources/Table_22_Arrest_by_State_2016.csv"
income_by_state = "Resources/h08.csv"

In [4]:
# create data frames for each data set. Make sure to use the same data frames throughout 
test_data = pd.read_csv("Resources/Table_22_Arrest_by_State_2016.csv")
test_data.head()

,State,Ages,Total\nall \nclasses1,Violent\ncrime2,Property\ncrime2,Murder and\nnonnegligent\nmanslaughter,Rape3,Robbery,Aggravated\nassault,Burglary,...,Driving\nunder the\ninfluence,Liquor\nlaws,Drunkenness4,Disorderly\nconduct,Vagrancy,All other\noffenses\n(except\ntraffic),Suspicion,Curfew\nand\nloitering\nlaw\nviolations,Number\nof\nagencies,2016\nestimated \npopulation
0,ALABAMA,Under 18,4800,321,1229,15,32,109,165,318,...,28,225,31,378,2,1096,0,0,240.0,3800629.0
1,ALABAMA,Total all ages,154482,6187,18479,312,384,1177,4314,3004,...,8126,2496,7283,2129,67,69052,0,0,NaN,NaN
2,ALASKA,Under 18,1893,216,494,8,21,35,152,104,...,31,121,18,11,0,269,0,12,32.0,738566.0
3,ALASKA,Total all ages,29462,2298,3495,41,130,282,1845,538,...,3063,775,112,738,4,11340,0,12,NaN,NaN
4,ARIZONA,Under 18,22997,1020,5113,15,53,336,616,759,...,211,1668,84,1436,65,2924,0,1061,90.0,6391343.0

In [ ]:
# grab 2016 column from H08 
# rename header