In [85]:
# import depend
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import csv
from scipy import stats
from scipy.stats import linregress
from datetime import date
import scipy.stats as st
# output_data = ""
# import 
arrest_by_state = "Resources/Table_22_Arrest_by_State_2016.csv"
income_by_state = "Resources/h08.csv"

In [86]:
# create data frames for each data set. Make sure to use the same data frames throughout 
test_data = pd.read_csv("Resources/Table_22_Arrest_by_State_2016.csv")
test_data.head()

,State,Ages,Total\nall \nclasses1,Violent\ncrime2,Property\ncrime2,Murder and\nnonnegligent\nmanslaughter,Rape3,Robbery,Aggravated\nassault,Burglary,...,Driving\nunder the\ninfluence,Liquor\nlaws,Drunkenness4,Disorderly\nconduct,Vagrancy,All other\noffenses\n(except\ntraffic),Suspicion,Curfew\nand\nloitering\nlaw\nviolations,Number\nof\nagencies,2016\nestimated \npopulation
0,ALABAMA,Under 18,4800,321,1229,15,32,109,165,318,...,28,225,31,378,2,1096,0,0,240.0,3800629.0
1,ALABAMA,Total all ages,154482,6187,18479,312,384,1177,4314,3004,...,8126,2496,7283,2129,67,69052,0,0,NaN,NaN
2,ALASKA,Under 18,1893,216,494,8,21,35,152,104,...,31,121,18,11,0,269,0,12,32.0,738566.0
3,ALASKA,Total all ages,29462,2298,3495,41,130,282,1845,538,...,3063,775,112,738,4,11340,0,12,NaN,NaN
4,ARIZONA,Under 18,22997,1020,5113,15,53,336,616,759,...,211,1668,84,1436,65,2924,0,1061,90.0,6391343.0

In [87]:
test_data2 = pd.read_csv("Resources/h08.csv")
test_data2.head()

,State,2018,Unnamed: 2,2017 (40),Unnamed: 4,2017,Unnamed: 6,2016,Unnamed: 8,2015,...,1988,Unnamed: 66,1987 (21),Unnamed: 68,1986,Unnamed: 70,1985 (20),Unnamed: 72,1984 (19),Unnamed: 74
0,NaN,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,...,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror
1,United States,"63,179",420,"61,136",322,"61,372",335,"59,039",436,"56,516",...,"27,225",139,"26,061",127,"24,897",129,"23,618",128,"22,415",102
2,Alabama,"49,936","2,423","50,865","1,094","51,113",845,"47,221","2,301","44,509",...,"19,948",912,"19,734","1,147","19,132",885,"18,333",760,"17,310",605
3,Alaska,"68,734","3,390","77,987","3,718","72,231","2,719","75,723","4,086","75,112",...,"33,103","1,183","33,233","1,497","31,356","1,017","34,782","1,089","32,356","1,473"
4,Arizona,"62,283","2,291","59,700","2,689","61,125","2,642","57,100","1,971","52,248",...,"26,435",843,"26,749",892,"25,500",718,"23,877",744,"21,425",609

In [88]:
new_df = test_data.loc[:,["State", "Ages", "Total\nall \nclasses1", "Violent\ncrime2", "Property\ncrime2", "Murder and\nnonnegligent\nmanslaughter", "Rape3", "Robbery", "Aggravated\nassault", "Burglary", "Driving\nunder the\ninfluence", "Liquor\nlaws", "Drunkenness4", "Disorderly\nconduct", "Vagrancy", "All other\noffenses\n(except\ntraffic)", "Suspicion", "Curfew\nand\nloitering\nlaw\nviolations", "Number\nof\nagencies", "2016\nestimated \npopulation",]]
new_df

,State,Ages,Total\nall \nclasses1,Violent\ncrime2,Property\ncrime2,Murder and\nnonnegligent\nmanslaughter,Rape3,Robbery,Aggravated\nassault,Burglary,Driving\nunder the\ninfluence,Liquor\nlaws,Drunkenness4,Disorderly\nconduct,Vagrancy,All other\noffenses\n(except\ntraffic),Suspicion,Curfew\nand\nloitering\nlaw\nviolations,Number\nof\nagencies,2016\nestimated \npopulation
0,ALABAMA,Under 18,4800,321,1229,15,32,109,165,318,28,225,31,378,2,1096,0,0,240.0,3800629.0
1,ALABAMA,Total all ages,154482,6187,18479,312,384,1177,4314,3004,8126,2496,7283,2129,67,69052,0,0,NaN,NaN
2,ALASKA,Under 18,1893,216,494,8,21,35,152,104,31,121,18,11,0,269,0,12,32.0,738566.0
3,ALASKA,Total all ages,29462,2298,3495,41,130,282,1845,538,3063,775,112,738,4,11340,0,12,NaN,NaN
4,ARIZONA,Under 18,22997,1020,5113,15,53,336,616,759,211,1668,84,1436,65,2924,0,1061,90.0,6391343.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,WEST VIRGINIA,Total all ages,39742,1905,5826,41,101,157,1606,771,4427,591,673,608,31,12114,0,7,NaN,NaN
98,WISCONSIN,Under 18,41813,1111,6135,7,149,434,521,655,235,2266,0,7876,61,12221,0,2138,409.0,5643675.0
99,WISCONSIN,Total all ages,261400,7556,31446,244,781,1570,4961,2771,24795,12675,0,33316,825,84335,0,2138,NaN,NaN
100,WYOMING,Under 18,3332,22,558,0,2,3,17,46,26,461,12,124,12,764,3,156,53.0,549770.0
101,WYOMING,Total all ages,28213,500,2577,13,33,19,435,232,3056,1929,2219,825,30,8928,7,156,NaN,NaN

In [100]:
new_df.columns

Index(['State', 'Ages', 'Total\nall \nclasses1', 'Violent\ncrime2',
       'Property\ncrime2', 'Murder and\nnonnegligent\nmanslaughter', 'Rape3',
       'Robbery', 'Aggravated\nassault', 'Burglary',
       'Driving\nunder the\ninfluence', 'Liquor\nlaws', 'Drunkenness4',
       'Disorderly\nconduct', 'Vagrancy',
       'All other\noffenses\n(except\ntraffic)', 'Suspicion',
       'Curfew\nand\nloitering\nlaw\nviolations', 'Number\nof\nagencies',
       '2016\nestimated \npopulation'],
      dtype='object')

In [90]:
state_crime_df = new_df.rename(columns={
    "Total\nall \nclasses1": "Total Cases",
    "Violent\ncrime2": "Violent Crime",
    "Property\ncrime2": "Property Crime",
    "Murder and\nnonnegligent\nmanslaughter": "Murder and Non-Negligent Manslaughter",
    "Rape3": "Rape",
    "Aggravated\nassault": "Aggravated Assault",
    "Driving\nunder the\ninfluence": "DUI",
    "Liquor\nlaws": "Liqour Laws",
    "Drunkenness4": "Drunkenness",
    "Disorderly\nconduct": "Disorderly Conduct",
    "All other\noffenses\n(except\ntraffic)": "All Other Offenses, Non Traffic",
    "Curfew\nand\nloitering\nlaw\nviolations": "Curfew and Loitering",
    "Number\nof\nagencies": "Total Number of Police Agencies",
    "2016\nestimated \npopulation": "2016 Estimated Population"
})
state_crime_df

,State,Ages,Total Cases,Violent Crime,Property Crime,Murder and Non-Negligent Manslaughter,Rape,Robbery,Aggravated Assault,Burglary,DUI,Liqour Laws,Drunkenness,Disorderly Conduct,Vagrancy,"All Other Offenses, Non Traffic",Suspicion,Curfew and Loitering,Total Number of Police Agencies,2016 Estimated Population
0,ALABAMA,Under 18,4800,321,1229,15,32,109,165,318,28,225,31,378,2,1096,0,0,240.0,3800629.0
1,ALABAMA,Total all ages,154482,6187,18479,312,384,1177,4314,3004,8126,2496,7283,2129,67,69052,0,0,NaN,NaN
2,ALASKA,Under 18,1893,216,494,8,21,35,152,104,31,121,18,11,0,269,0,12,32.0,738566.0
3,ALASKA,Total all ages,29462,2298,3495,41,130,282,1845,538,3063,775,112,738,4,11340,0,12,NaN,NaN
4,ARIZONA,Under 18,22997,1020,5113,15,53,336,616,759,211,1668,84,1436,65,2924,0,1061,90.0,6391343.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,WEST VIRGINIA,Total all ages,39742,1905,5826,41,101,157,1606,771,4427,591,673,608,31,12114,0,7,NaN,NaN
98,WISCONSIN,Under 18,41813,1111,6135,7,149,434,521,655,235,2266,0,7876,61,12221,0,2138,409.0,5643675.0
99,WISCONSIN,Total all ages,261400,7556,31446,244,781,1570,4961,2771,24795,12675,0,33316,825,84335,0,2138,NaN,NaN
100,WYOMING,Under 18,3332,22,558,0,2,3,17,46,26,461,12,124,12,764,3,156,53.0,549770.0
101,WYOMING,Total all ages,28213,500,2577,13,33,19,435,232,3056,1929,2219,825,30,8928,7,156,NaN,NaN

In [91]:
# grab 2016 column from H08 
income_df = test_data2.loc[:,["State", "2016"]]

In [92]:
#remove NA values
income_df = income_df.dropna()

In [93]:
#Renaming headers
updated_income = income_df.rename(columns={
    "2016": "2016 Median Household Income"
})
#preview of new df
updated_income.head()

           State 2016 Median Household Income
1  United States                       59,039
2        Alabama                       47,221
3         Alaska                       75,723
4        Arizona                       57,100
5       Arkansas                       45,907

In [94]:
#testing transposing data
age_df = state_crime_df.loc[:,["Ages", "Total Cases"]]
age_df

               Ages  Total Cases
0          Under 18         4800
1    Total all ages       154482
2          Under 18         1893
3    Total all ages        29462
4          Under 18        22997
..              ...          ...
97   Total all ages        39742
98         Under 18        41813
99   Total all ages       261400
100        Under 18         3332
101  Total all ages        28213

[102 rows x 2 columns]

In [95]:
tr_age = age_df.transpose()
tr_age

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
Ages,Under 18,Total all ages,Under 18,Total all ages,Under 18,Total all ages,Under 18,Total all ages,Under 18,Total all ages,...,Under 18,Total all ages,Under 18,Total all ages,Under 18,Total all ages,Under 18,Total all ages,Under 18,Total all ages
Total Cases,4800,154482,1893,29462,22997,263699,8045,132165,58758,1118712,...,16838,271921,12184,171211,1050,39742,41813,261400,3332,28213

In [127]:
#groupby is pandas way of pivots errrrrr