In [1]:
# import depend
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import csv
from scipy import stats
from scipy.stats import linregress
from datetime import date
import scipy.stats as st
# output_data = ""
# import 
arrest_by_state = "Resources/Table_22_Arrest_by_State_2016.csv"
income_by_state = "Resources/h08.csv"

In [2]:
# create data frames for each data set. Make sure to use the same data frames throughout 
test_data = pd.read_csv("Resources/Table_22_Arrest_by_State_2016.csv")
test_data.head()

,State,Ages,Total\nall \nclasses1,Violent\ncrime2,Property\ncrime2,Murder and\nnonnegligent\nmanslaughter,Rape3,Robbery,Aggravated\nassault,Burglary,...,Driving\nunder the\ninfluence,Liquor\nlaws,Drunkenness4,Disorderly\nconduct,Vagrancy,All other\noffenses\n(except\ntraffic),Suspicion,Curfew\nand\nloitering\nlaw\nviolations,Number\nof\nagencies,2016\nestimated \npopulation
0,ALABAMA,Under 18,4800,321,1229,15,32,109,165,318,...,28,225,31,378,2,1096,0,0,240.0,3800629.0
1,ALABAMA,Total all ages,154482,6187,18479,312,384,1177,4314,3004,...,8126,2496,7283,2129,67,69052,0,0,NaN,NaN
2,ALASKA,Under 18,1893,216,494,8,21,35,152,104,...,31,121,18,11,0,269,0,12,32.0,738566.0
3,ALASKA,Total all ages,29462,2298,3495,41,130,282,1845,538,...,3063,775,112,738,4,11340,0,12,NaN,NaN
4,ARIZONA,Under 18,22997,1020,5113,15,53,336,616,759,...,211,1668,84,1436,65,2924,0,1061,90.0,6391343.0

In [3]:
test_data2 = pd.read_csv("Resources/h08.csv")
test_data2.head()

,State,2018,Unnamed: 2,2017 (40),Unnamed: 4,2017,Unnamed: 6,2016,Unnamed: 8,2015,...,1988,Unnamed: 66,1987 (21),Unnamed: 68,1986,Unnamed: 70,1985 (20),Unnamed: 72,1984 (19),Unnamed: 74
0,NaN,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,...,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror
1,United States,"63,179",420,"61,136",322,"61,372",335,"59,039",436,"56,516",...,"27,225",139,"26,061",127,"24,897",129,"23,618",128,"22,415",102
2,Alabama,"49,936","2,423","50,865","1,094","51,113",845,"47,221","2,301","44,509",...,"19,948",912,"19,734","1,147","19,132",885,"18,333",760,"17,310",605
3,Alaska,"68,734","3,390","77,987","3,718","72,231","2,719","75,723","4,086","75,112",...,"33,103","1,183","33,233","1,497","31,356","1,017","34,782","1,089","32,356","1,473"
4,Arizona,"62,283","2,291","59,700","2,689","61,125","2,642","57,100","1,971","52,248",...,"26,435",843,"26,749",892,"25,500",718,"23,877",744,"21,425",609

In [4]:
new_df = test_data.loc[:,["State", "Ages", "Total\nall \nclasses1", "Violent\ncrime2", "Property\ncrime2", "Murder and\nnonnegligent\nmanslaughter", "Rape3", "Robbery", "Aggravated\nassault", "Burglary", "Driving\nunder the\ninfluence", "Liquor\nlaws", "Drunkenness4", "Disorderly\nconduct", "Vagrancy", "All other\noffenses\n(except\ntraffic)", "Suspicion", "Curfew\nand\nloitering\nlaw\nviolations", "Number\nof\nagencies", "2016\nestimated \npopulation",]]
new_df

,State,Ages,Total\nall \nclasses1,Violent\ncrime2,Property\ncrime2,Murder and\nnonnegligent\nmanslaughter,Rape3,Robbery,Aggravated\nassault,Burglary,Driving\nunder the\ninfluence,Liquor\nlaws,Drunkenness4,Disorderly\nconduct,Vagrancy,All other\noffenses\n(except\ntraffic),Suspicion,Curfew\nand\nloitering\nlaw\nviolations,Number\nof\nagencies,2016\nestimated \npopulation
0,ALABAMA,Under 18,4800,321,1229,15,32,109,165,318,28,225,31,378,2,1096,0,0,240.0,3800629.0
1,ALABAMA,Total all ages,154482,6187,18479,312,384,1177,4314,3004,8126,2496,7283,2129,67,69052,0,0,NaN,NaN
2,ALASKA,Under 18,1893,216,494,8,21,35,152,104,31,121,18,11,0,269,0,12,32.0,738566.0
3,ALASKA,Total all ages,29462,2298,3495,41,130,282,1845,538,3063,775,112,738,4,11340,0,12,NaN,NaN
4,ARIZONA,Under 18,22997,1020,5113,15,53,336,616,759,211,1668,84,1436,65,2924,0,1061,90.0,6391343.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,WEST VIRGINIA,Total all ages,39742,1905,5826,41,101,157,1606,771,4427,591,673,608,31,12114,0,7,NaN,NaN
98,WISCONSIN,Under 18,41813,1111,6135,7,149,434,521,655,235,2266,0,7876,61,12221,0,2138,409.0,5643675.0
99,WISCONSIN,Total all ages,261400,7556,31446,244,781,1570,4961,2771,24795,12675,0,33316,825,84335,0,2138,NaN,NaN
100,WYOMING,Under 18,3332,22,558,0,2,3,17,46,26,461,12,124,12,764,3,156,53.0,549770.0
101,WYOMING,Total all ages,28213,500,2577,13,33,19,435,232,3056,1929,2219,825,30,8928,7,156,NaN,NaN

In [5]:
state_crime_df = new_df.rename(columns={
    "Total\nall \nclasses1": "Total Cases",
    "Violent\ncrime2": "Violent Crime",
    "Property\ncrime2": "Property Crime",
    "Murder and\nnonnegligent\nmanslaughter": "Murder and Non-Negligent Manslaughter",
    "Rape3": "Rape",
    "Aggravated\nassault": "Aggravated Assault",
    "Driving\nunder the\ninfluence": "DUI",
    "Liquor\nlaws": "Liqour Laws",
    "Drunkenness4": "Drunkenness",
    "Disorderly\nconduct": "Disorderly Conduct",
    "All other\noffenses\n(except\ntraffic)": "All Other Offenses, Non Traffic",
    "Curfew\nand\nloitering\nlaw\nviolations": "Curfew and Loitering",
    "Number\nof\nagencies": "Total Number of Police Agencies",
    "2016\nestimated \npopulation": "2016 Estimated Population"
})
state_crime_df

,State,Ages,Total Cases,Violent Crime,Property Crime,Murder and Non-Negligent Manslaughter,Rape,Robbery,Aggravated Assault,Burglary,DUI,Liqour Laws,Drunkenness,Disorderly Conduct,Vagrancy,"All Other Offenses, Non Traffic",Suspicion,Curfew and Loitering,Total Number of Police Agencies,2016 Estimated Population
0,ALABAMA,Under 18,4800,321,1229,15,32,109,165,318,28,225,31,378,2,1096,0,0,240.0,3800629.0
1,ALABAMA,Total all ages,154482,6187,18479,312,384,1177,4314,3004,8126,2496,7283,2129,67,69052,0,0,NaN,NaN
2,ALASKA,Under 18,1893,216,494,8,21,35,152,104,31,121,18,11,0,269,0,12,32.0,738566.0
3,ALASKA,Total all ages,29462,2298,3495,41,130,282,1845,538,3063,775,112,738,4,11340,0,12,NaN,NaN
4,ARIZONA,Under 18,22997,1020,5113,15,53,336,616,759,211,1668,84,1436,65,2924,0,1061,90.0,6391343.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,WEST VIRGINIA,Total all ages,39742,1905,5826,41,101,157,1606,771,4427,591,673,608,31,12114,0,7,NaN,NaN
98,WISCONSIN,Under 18,41813,1111,6135,7,149,434,521,655,235,2266,0,7876,61,12221,0,2138,409.0,5643675.0
99,WISCONSIN,Total all ages,261400,7556,31446,244,781,1570,4961,2771,24795,12675,0,33316,825,84335,0,2138,NaN,NaN
100,WYOMING,Under 18,3332,22,558,0,2,3,17,46,26,461,12,124,12,764,3,156,53.0,549770.0
101,WYOMING,Total all ages,28213,500,2577,13,33,19,435,232,3056,1929,2219,825,30,8928,7,156,NaN,NaN

In [6]:
# grab 2016 column from H08 
income_df = test_data2.loc[:,["State", "2016"]]

In [7]:
#remove NA values
income_df = income_df.dropna()

In [8]:
#Renaming headers
updated_income = income_df.rename(columns={
    "2016": "2016 Median Household Income"
})
#preview of new df
updated_income.head()

           State 2016 Median Household Income
1  United States                       59,039
2        Alabama                       47,221
3         Alaska                       75,723
4        Arizona                       57,100
5       Arkansas                       45,907

In [9]:
#testing transposing data
age_df = state_crime_df.loc[:,["Ages", "Total Cases"]]
age_df

               Ages  Total Cases
0          Under 18         4800
1    Total all ages       154482
2          Under 18         1893
3    Total all ages        29462
4          Under 18        22997
..              ...          ...
97   Total all ages        39742
98         Under 18        41813
99   Total all ages       261400
100        Under 18         3332
101  Total all ages        28213

[102 rows x 2 columns]

In [10]:
tr_age = age_df.transpose()
tr_age

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
Ages,Under 18,Total all ages,Under 18,Total all ages,Under 18,Total all ages,Under 18,Total all ages,Under 18,Total all ages,...,Under 18,Total all ages,Under 18,Total all ages,Under 18,Total all ages,Under 18,Total all ages,Under 18,Total all ages
Total Cases,4800,154482,1893,29462,22997,263699,8045,132165,58758,1118712,...,16838,271921,12184,171211,1050,39742,41813,261400,3332,28213

In [19]:
group_state_under_df = state_crime_df.loc[state_crime_df["Ages"] == "Under 18", :]
group_state_under_df.head()

,State,Ages,Total Cases,Violent Crime,Property Crime,Murder and Non-Negligent Manslaughter,Rape,Robbery,Aggravated Assault,Burglary,DUI,Liqour Laws,Drunkenness,Disorderly Conduct,Vagrancy,"All Other Offenses, Non Traffic",Suspicion,Curfew and Loitering,Total Number of Police Agencies,2016 Estimated Population
0,ALABAMA,Under 18,4800,321,1229,15,32,109,165,318,28,225,31,378,2,1096,0,0,240.0,3800629.0
2,ALASKA,Under 18,1893,216,494,8,21,35,152,104,31,121,18,11,0,269,0,12,32.0,738566.0
4,ARIZONA,Under 18,22997,1020,5113,15,53,336,616,759,211,1668,84,1436,65,2924,0,1061,90.0,6391343.0
6,ARKANSAS,Under 18,8045,424,1801,10,44,91,279,414,44,219,87,470,0,1765,0,363,271.0,2786173.0
8,CALIFORNIA,Under 18,58758,7015,12519,92,275,2601,4047,4583,493,1210,880,1264,101,9645,0,1454,613.0,39012007.0

In [20]:
group_state_total_df = state_crime_df.loc[state_crime_df["Ages"] == "Total all ages", :]
group_state_total_df.head()

,State,Ages,Total Cases,Violent Crime,Property Crime,Murder and Non-Negligent Manslaughter,Rape,Robbery,Aggravated Assault,Burglary,DUI,Liqour Laws,Drunkenness,Disorderly Conduct,Vagrancy,"All Other Offenses, Non Traffic",Suspicion,Curfew and Loitering,Total Number of Police Agencies,2016 Estimated Population
1,ALABAMA,Total all ages,154482,6187,18479,312,384,1177,4314,3004,8126,2496,7283,2129,67,69052,0,0,NaN,NaN
3,ALASKA,Total all ages,29462,2298,3495,41,130,282,1845,538,3063,775,112,738,4,11340,0,12,NaN,NaN
5,ARIZONA,Total all ages,263699,11145,37592,242,344,1849,8710,3957,23498,9745,14100,15874,351,71741,130,1061,NaN,NaN
7,ARKANSAS,Total all ages,132165,4860,13791,143,289,561,3867,2174,6703,1769,6589,2425,890,60504,0,363,NaN,NaN
9,CALIFORNIA,Total all ages,1118712,106828,115354,1437,2560,15866,86965,40808,129752,8857,69869,3906,6597,285231,0,1454,NaN,NaN

In [22]:
merged_state_df = pd.merge(group_state_under_df, group_state_total_df, on = "State")
merged_state_df

,State,Ages_x,Total Cases_x,Violent Crime_x,Property Crime_x,Murder and Non-Negligent Manslaughter_x,Rape_x,Robbery_x,Aggravated Assault_x,Burglary_x,...,DUI_y,Liqour Laws_y,Drunkenness_y,Disorderly Conduct_y,Vagrancy_y,"All Other Offenses, Non Traffic_y",Suspicion_y,Curfew and Loitering_y,Total Number of Police Agencies_y,2016 Estimated Population_y
0,ALABAMA,Under 18,4800,321,1229,15,32,109,165,318,...,8126,2496,7283,2129,67,69052,0,0,NaN,NaN
1,ALASKA,Under 18,1893,216,494,8,21,35,152,104,...,3063,775,112,738,4,11340,0,12,NaN,NaN
2,ARIZONA,Under 18,22997,1020,5113,15,53,336,616,759,...,23498,9745,14100,15874,351,71741,130,1061,NaN,NaN
3,ARKANSAS,Under 18,8045,424,1801,10,44,91,279,414,...,6703,1769,6589,2425,890,60504,0,363,NaN,NaN
4,CALIFORNIA,Under 18,58758,7015,12519,92,275,2601,4047,4583,...,129752,8857,69869,3906,6597,285231,0,1454,NaN,NaN
5,COLORADO,Under 18,21548,636,4753,6,52,126,452,432,...,23364,9025,249,7486,453,100277,0,1153,NaN,NaN
6,CONNECTICUT,Under 18,8264,416,1902,5,28,161,222,261,...,8533,225,8,11640,36,26714,0,4,NaN,NaN
7,DELAWARE,Under 18,3704,348,712,5,12,119,212,137,...,355,884,345,1312,332,5558,0,47,NaN,NaN
8,DISTRICT OF COLUMBIA5,Under 18,671,83,47,0,0,58,25,0,...,11,1024,89,172,30,7798,0,1,NaN,NaN
9,"FLORIDA6, 7",Under 18,57843,3861,17688,45,248,1541,2027,4817,...,35042,14280,0,0,0,313994,0,0,NaN,NaN
10,GEORGIA,Under 18,22646,1282,5599,60,42,514,666,1043,...,18939,4262,1442,14886,1574,69708,0,330,NaN,NaN
11,HAWAII,Under 18,3597,175,688,1,23,72,79,85,...,5929,575,4,1074,3,19671,7,172,NaN,NaN
12,IDAHO,Under 18,5298,117,1028,0,23,8,86,163,...,6195,1324,254,1458,10,16472,0,57,NaN,NaN
13,ILLINOIS6,Under 18,10186,1003,2964,45,35,665,258,301,...,2929,165,0,3756,4,11165,0,79,NaN,NaN
14,INDIANA,Under 18,12420,758,3074,12,19,298,429,317,...,13492,3665,4316,3517,81,50656,19,218,NaN,NaN
15,IOWA,Under 18,10671,558,2556,3,34,110,411,391,...,9836,3943,6983,4104,9,29178,0,404,NaN,NaN
16,KANSAS,Under 18,4081,170,910,6,25,33,106,84,...,5923,2593,134,1558,0,17857,0,0,NaN,NaN
17,KENTUCKY,Under 18,5639,402,1466,17,32,223,130,340,...,16901,94,14259,4095,137,106159,0,3,NaN,NaN
18,LOUISIANA,Under 18,19018,1328,4669,28,112,333,855,1211,...,7587,3596,3567,10435,250,56154,33,299,NaN,NaN
19,MAINE,Under 18,3160,45,814,1,13,7,24,136,...,5834,2218,17,1309,0,14943,0,8,NaN,NaN
20,MARYLAND,Under 18,19506,1935,4862,11,74,1067,783,932,...,17809,5398,14,4639,139,55773,131,47,NaN,NaN
21,MASSACHUSETTS,Under 18,6939,849,1285,6,28,185,630,213,...,9008,2000,5600,4329,11,35706,2,0,NaN,NaN
22,MICHIGAN,Under 18,17629,1160,4802,14,117,276,753,715,...,27571,10690,367,6536,241,87235,0,325,NaN,NaN
23,MINNESOTA,Under 18,19648,900,4993,6,101,359,434,426,...,19196,8054,1,8679,38,27297,0,947,NaN,NaN
24,MISSISSIPPI,Under 18,3812,131,817,6,8,87,30,191,...,7160,983,3721,3790,41,26836,75,90,NaN,NaN
25,MISSOURI,Under 18,19416,966,4265,18,101,339,508,493,...,19729,5280,330,8158,1222,75970,0,815,NaN,NaN
26,MONTANA,Under 18,4263,78,859,0,9,8,61,83,...,4392,1871,0,2878,21,6262,0,300,NaN,NaN
27,NEBRASKA,Under 18,8921,168,2377,5,59,54,50,102,...,6948,4862,0,2714,16,13951,0,144,NaN,NaN
28,NEVADA,Under 18,8441,1047,1408,5,52,372,618,264,...,10660,3383,214,1292,1512,49669,5,472,NaN,NaN
29,NEW HAMPSHIRE,Under 18,3564,78,404,0,12,24,42,33,...,4874,2907,3683,954,65,12993,0,13,NaN,NaN
30,NEW JERSEY,Under 18,17784,1409,2794,13,69,637,690,615,...,22745,3044,0,12723,274,108599,0,1396,NaN,NaN
31,NEW MEXICO,Under 18,4254,248,1070,9,8,20,211,79,...,6178,1977,445,1602,247,31924,8,4,NaN,NaN
32,NEW YORK6,Under 18,20322,1692,5312,16,193,693,790,851,...,29238,1599,0,6355,565,44267,0,0,NaN,NaN
33,NORTH CAROLINA,Under 18,16027,923,4413,26,14,504,379,1189,...,30380,2286,0,4497,12,69279,0,15,NaN,NaN
34,NORTH DAKOTA,Under 18,3788,53,626,0,4,6,43,31,...,5725,2922,309,2202,6,9234,1,108,NaN,NaN
35,OHIO,Under 18,22552,732,4174,12,88,307,325,696,...,15060,5973,1886,14608,99,57640,5,537,NaN,NaN
36,OKLAHOMA,Under 18,9236,449,2272,17,30,118,284,356,...,12200,1433,13507,1996,34,21466,9,1069,NaN,NaN
37,OREGON,Under 18,10407,307,2198,3,25,72,207,234,...,14282,4844,0,6555,4,48115,0,512,NaN,NaN
38,PENNSYLVANIA,Under 18,40826,2678,5563,22,202,1045,1409,868,...,44111,9179,19475,33487,254,44142,0,7278,NaN,NaN
39,RHODE ISLAND,Under 18,2489,109,494,0,17,38,54,92,...,2719,486,10,2239,0,9607,0,12,NaN,NaN
40,SOUTH CAROLINA,Under 18,12987,682,3308,35,63,258,326,614,...,15947,5014,6956,8738,425,29522,0,31,NaN,NaN
41,SOUTH DAKOTA,Under 18,5016,106,1000,0,3,11,92,103,...,7196,2596,2538,2454,436,12126,3,120,NaN,NaN
42,TENNESSEE,Under 18,22110,1401,4060,21,42,364,974,815,...,22563,4278,14029,7079,25,139365,0,1235,NaN,NaN
43,TEXAS,Under 18,65539,3938,14953,62,375,1422,2079,2590,...,67950,10928,71819,10520,2194,247675,0,2479,NaN,NaN
44,UTAH,Under 18,13187,268,2740,2,75,51,140,165,...,8713,3860,2909,2809,40,33791,5,467,NaN,NaN
45,VERMONT,Under 18,425,13,60,0,4,0,9,13,...,1474,60,1,509,0,2632,0,0,NaN,NaN
46,VIRGINIA,Under 18,16838,735,3907,20,69,385,261,504,...,20084,5223,20125,2965,157,92341,0,767,NaN,NaN
47,WASHINGTON,Under 18,12184,782,3151,15,79,295,393,442,...,23209,2487,22,2415,81,56261,0,3,NaN,NaN
48,WEST VIRGINIA,Under 18,1050,48,152,2,5,6,35,24,...,4427,591,673,608,31,12114,0,7,NaN,NaN
49,WISCONSIN,Under 18,41813,1111,6135,7,149,434,521,655,...,24795,12675,0,33316,825,84335,0,2138,NaN,NaN
50,WYOMING,Under 18,3332,22,558,0,2,3,17,46,...,3056,1929,2219,825,30,8928,7,156,NaN,NaN

In [24]:
merged_state_df.columns

Index(['State', 'Ages_x', 'Total Cases_x', 'Violent Crime_x',
       'Property Crime_x', 'Murder and Non-Negligent Manslaughter_x', 'Rape_x',
       'Robbery_x', 'Aggravated Assault_x', 'Burglary_x', 'DUI_x',
       'Liqour Laws_x', 'Drunkenness_x', 'Disorderly Conduct_x', 'Vagrancy_x',
       'All Other Offenses, Non Traffic_x', 'Suspicion_x',
       'Curfew and Loitering_x', 'Total Number of Police Agencies_x',
       '2016 Estimated Population_x', 'Ages_y', 'Total Cases_y',
       'Violent Crime_y', 'Property Crime_y',
       'Murder and Non-Negligent Manslaughter_y', 'Rape_y', 'Robbery_y',
       'Aggravated Assault_y', 'Burglary_y', 'DUI_y', 'Liqour Laws_y',
       'Drunkenness_y', 'Disorderly Conduct_y', 'Vagrancy_y',
       'All Other Offenses, Non Traffic_y', 'Suspicion_y',
       'Curfew and Loitering_y', 'Total Number of Police Agencies_y',
       '2016 Estimated Population_y'],
      dtype='object')

In [29]:
#reamed DF breh
new_state_crime_df = merged_state_df.rename(columns={
    'Ages_x':"Ages_Under",
    'Total Cases_x':"Total Cases_Under",
    'Violent Crime_x':"Violent Crime_Under",
    'Property Crime_x': "Property Crime_Under",
    'Murder and Non-Negligent Manslaughter_x': "Murder and Non-Negligent Manslaughter_Under",
    'Rape_x':"Rape_Under",
    'Robbery_x': "Robbery_Under", 
    'Aggravated Assault_x': "Aggravated Assault_Under", 
    'Burglary_x': "Burglary_Under", 
    'DUI_x': "DUI_Under",
    'Liqour Laws_x': "Liqour Laws_Under", 
    'Drunkenness_x': "Drunkenness_Under", 
    'Disorderly Conduct_x': "Disorderly Conduct_Under", 
    'Vagrancy_x': "Vagrancy_Under",
    'All Other Offenses, Non Traffic_x': "All Other Offenses, Non Traffic_Under", 
    'Suspicion_x': "Suspicion_Under",
    'Curfew and Loitering_x': "Curfew and Loitering_Under", 
    'Total Number of Police Agencies_x': "Total Number of Police Agencies_Under",
    '2016 Estimated Population_x': "2016 Estimated Population_Under", 
    'Ages_y': "Ages_All", 
    'Total Cases_y': "Total Cases_All",
    'Violent Crime_y': "Violent Crime_All", 
    'Property Crime_y': "Property Crime_All",
    'Murder and Non-Negligent Manslaughter_y': "Murder and Non-Negligent Manslaughter_All", 
    'Rape_y': "Rape_All", 
    'Robbery_y': "Robbery_All",
    'Aggravated Assault_y': "Aggravated Assault_All", 
    'Burglary_y': "Burglary_All", 
    'DUI_y': "DUI_All", 
    'Liqour Laws_y': "Liqour Laws_All",
    'Drunkenness_y': "Drunkenness_All", 
    'Disorderly Conduct_y': "Disorderly Conduct_All", 
    'Vagrancy_y': "Vagrancy_All",
    'All Other Offenses, Non Traffic_y': "All Other Offenses, Non Traffic_All", 
    'Suspicion_y': "Suspicion_All",
    'Curfew and Loitering_y': "Curfew and Loitering_All", 
    'Total Number of Police Agencies_y': "Total Number of Police Agencies_All",
    '2016 Estimated Population_y': "2016 Estimated Population_All"   
})
new_state_crime_df

,State,Ages_Under,Total Cases_Under,Violent Crime_Under,Property Crime_Under,Murder and Non-Negligent Manslaughter_Under,Rape_Under,Robbery_Under,Aggravated Assault_Under,Burglary_Under,...,DUI_All,Liqour Laws_All,Drunkenness_All,Disorderly Conduct_All,Vagrancy_All,"All Other Offenses, Non Traffic_All",Suspicion_All,Curfew and Loitering_All,Total Number of Police Agencies_All,2016 Estimated Population_All
0,ALABAMA,Under 18,4800,321,1229,15,32,109,165,318,...,8126,2496,7283,2129,67,69052,0,0,NaN,NaN
1,ALASKA,Under 18,1893,216,494,8,21,35,152,104,...,3063,775,112,738,4,11340,0,12,NaN,NaN
2,ARIZONA,Under 18,22997,1020,5113,15,53,336,616,759,...,23498,9745,14100,15874,351,71741,130,1061,NaN,NaN
3,ARKANSAS,Under 18,8045,424,1801,10,44,91,279,414,...,6703,1769,6589,2425,890,60504,0,363,NaN,NaN
4,CALIFORNIA,Under 18,58758,7015,12519,92,275,2601,4047,4583,...,129752,8857,69869,3906,6597,285231,0,1454,NaN,NaN
5,COLORADO,Under 18,21548,636,4753,6,52,126,452,432,...,23364,9025,249,7486,453,100277,0,1153,NaN,NaN
6,CONNECTICUT,Under 18,8264,416,1902,5,28,161,222,261,...,8533,225,8,11640,36,26714,0,4,NaN,NaN
7,DELAWARE,Under 18,3704,348,712,5,12,119,212,137,...,355,884,345,1312,332,5558,0,47,NaN,NaN
8,DISTRICT OF COLUMBIA5,Under 18,671,83,47,0,0,58,25,0,...,11,1024,89,172,30,7798,0,1,NaN,NaN
9,"FLORIDA6, 7",Under 18,57843,3861,17688,45,248,1541,2027,4817,...,35042,14280,0,0,0,313994,0,0,NaN,NaN
10,GEORGIA,Under 18,22646,1282,5599,60,42,514,666,1043,...,18939,4262,1442,14886,1574,69708,0,330,NaN,NaN
11,HAWAII,Under 18,3597,175,688,1,23,72,79,85,...,5929,575,4,1074,3,19671,7,172,NaN,NaN
12,IDAHO,Under 18,5298,117,1028,0,23,8,86,163,...,6195,1324,254,1458,10,16472,0,57,NaN,NaN
13,ILLINOIS6,Under 18,10186,1003,2964,45,35,665,258,301,...,2929,165,0,3756,4,11165,0,79,NaN,NaN
14,INDIANA,Under 18,12420,758,3074,12,19,298,429,317,...,13492,3665,4316,3517,81,50656,19,218,NaN,NaN
15,IOWA,Under 18,10671,558,2556,3,34,110,411,391,...,9836,3943,6983,4104,9,29178,0,404,NaN,NaN
16,KANSAS,Under 18,4081,170,910,6,25,33,106,84,...,5923,2593,134,1558,0,17857,0,0,NaN,NaN
17,KENTUCKY,Under 18,5639,402,1466,17,32,223,130,340,...,16901,94,14259,4095,137,106159,0,3,NaN,NaN
18,LOUISIANA,Under 18,19018,1328,4669,28,112,333,855,1211,...,7587,3596,3567,10435,250,56154,33,299,NaN,NaN
19,MAINE,Under 18,3160,45,814,1,13,7,24,136,...,5834,2218,17,1309,0,14943,0,8,NaN,NaN
20,MARYLAND,Under 18,19506,1935,4862,11,74,1067,783,932,...,17809,5398,14,4639,139,55773,131,47,NaN,NaN
21,MASSACHUSETTS,Under 18,6939,849,1285,6,28,185,630,213,...,9008,2000,5600,4329,11,35706,2,0,NaN,NaN
22,MICHIGAN,Under 18,17629,1160,4802,14,117,276,753,715,...,27571,10690,367,6536,241,87235,0,325,NaN,NaN
23,MINNESOTA,Under 18,19648,900,4993,6,101,359,434,426,...,19196,8054,1,8679,38,27297,0,947,NaN,NaN
24,MISSISSIPPI,Under 18,3812,131,817,6,8,87,30,191,...,7160,983,3721,3790,41,26836,75,90,NaN,NaN
25,MISSOURI,Under 18,19416,966,4265,18,101,339,508,493,...,19729,5280,330,8158,1222,75970,0,815,NaN,NaN
26,MONTANA,Under 18,4263,78,859,0,9,8,61,83,...,4392,1871,0,2878,21,6262,0,300,NaN,NaN
27,NEBRASKA,Under 18,8921,168,2377,5,59,54,50,102,...,6948,4862,0,2714,16,13951,0,144,NaN,NaN
28,NEVADA,Under 18,8441,1047,1408,5,52,372,618,264,...,10660,3383,214,1292,1512,49669,5,472,NaN,NaN
29,NEW HAMPSHIRE,Under 18,3564,78,404,0,12,24,42,33,...,4874,2907,3683,954,65,12993,0,13,NaN,NaN
30,NEW JERSEY,Under 18,17784,1409,2794,13,69,637,690,615,...,22745,3044,0,12723,274,108599,0,1396,NaN,NaN
31,NEW MEXICO,Under 18,4254,248,1070,9,8,20,211,79,...,6178,1977,445,1602,247,31924,8,4,NaN,NaN
32,NEW YORK6,Under 18,20322,1692,5312,16,193,693,790,851,...,29238,1599,0,6355,565,44267,0,0,NaN,NaN
33,NORTH CAROLINA,Under 18,16027,923,4413,26,14,504,379,1189,...,30380,2286,0,4497,12,69279,0,15,NaN,NaN
34,NORTH DAKOTA,Under 18,3788,53,626,0,4,6,43,31,...,5725,2922,309,2202,6,9234,1,108,NaN,NaN
35,OHIO,Under 18,22552,732,4174,12,88,307,325,696,...,15060,5973,1886,14608,99,57640,5,537,NaN,NaN
36,OKLAHOMA,Under 18,9236,449,2272,17,30,118,284,356,...,12200,1433,13507,1996,34,21466,9,1069,NaN,NaN
37,OREGON,Under 18,10407,307,2198,3,25,72,207,234,...,14282,4844,0,6555,4,48115,0,512,NaN,NaN
38,PENNSYLVANIA,Under 18,40826,2678,5563,22,202,1045,1409,868,...,44111,9179,19475,33487,254,44142,0,7278,NaN,NaN
39,RHODE ISLAND,Under 18,2489,109,494,0,17,38,54,92,...,2719,486,10,2239,0,9607,0,12,NaN,NaN
40,SOUTH CAROLINA,Under 18,12987,682,3308,35,63,258,326,614,...,15947,5014,6956,8738,425,29522,0,31,NaN,NaN
41,SOUTH DAKOTA,Under 18,5016,106,1000,0,3,11,92,103,...,7196,2596,2538,2454,436,12126,3,120,NaN,NaN
42,TENNESSEE,Under 18,22110,1401,4060,21,42,364,974,815,...,22563,4278,14029,7079,25,139365,0,1235,NaN,NaN
43,TEXAS,Under 18,65539,3938,14953,62,375,1422,2079,2590,...,67950,10928,71819,10520,2194,247675,0,2479,NaN,NaN
44,UTAH,Under 18,13187,268,2740,2,75,51,140,165,...,8713,3860,2909,2809,40,33791,5,467,NaN,NaN
45,VERMONT,Under 18,425,13,60,0,4,0,9,13,...,1474,60,1,509,0,2632,0,0,NaN,NaN
46,VIRGINIA,Under 18,16838,735,3907,20,69,385,261,504,...,20084,5223,20125,2965,157,92341,0,767,NaN,NaN
47,WASHINGTON,Under 18,12184,782,3151,15,79,295,393,442,...,23209,2487,22,2415,81,56261,0,3,NaN,NaN
48,WEST VIRGINIA,Under 18,1050,48,152,2,5,6,35,24,...,4427,591,673,608,31,12114,0,7,NaN,NaN
49,WISCONSIN,Under 18,41813,1111,6135,7,149,434,521,655,...,24795,12675,0,33316,825,84335,0,2138,NaN,NaN
50,WYOMING,Under 18,3332,22,558,0,2,3,17,46,...,3056,1929,2219,825,30,8928,7,156,NaN,NaN

In [28]:
new_state_crime_df.to_csv("Resources/State_Crime.csv", index=False, header=True)